<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <link rel="stylesheet" href="style/main.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <div class="head_title">
                    <h1 class="text-center">Todolist</h1>
                    <div class="sib_title">
                        <h3 class="today">2018/06/10 SAT</h3>
                        <h3>
                            <span class="big">{{unDone}}</span> Tasks left</h3>
                    </div>

                </div>
                <nav>
                    <ul class="text-center">
                        <li :class="{'active':visiblity == 'all'}" @click="visiblity='all'">All</li>
                        <li :class="{'active':visiblity == 'progress'}"  @click="visiblity='progress'">progress</li>
                        <li :class="{'active':visiblity == 'completed'}"  @click="visiblity='completed'">Completed</li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container">
            <input type="text" placeholder="+ Add task" class="input-task my-5" v-model="newtask" @keyup.enter="addTodo">
            <ul class="todo_list">
                <li v-for="item in filterTodolist" 
                v-if="item.id !== editObject.id"
                :class="{'done':item.completed,'fav':item.favorite}">
                    <label :for="item.id" class="complet_check">
                        <input type="checkbox" name="" :id="item.id" v-model="item.completed">
                    </label>
                    <div class="memo">
                        <h4 class="mb-3">{{item.title}}</h4>
                        <p >2018/06/10</p>
                    </div>
                    <div class="tools">
                        <div class="fav">
                            <label :for="item.id + 'fav'">
                                <input type="checkbox" name="" :id="item.id + 'fav'" v-model="item.favorite" hidden>
                                <img src="images/fav.png" alt="" v-if="item.favorite == false">
                                <img src="images/fav_checked.png" alt="" v-if="item.favorite == true">
                            </label>
                        </div>
                        <div class="edit" @click="editTodo(item)">
                            <img src="images/edit.png" alt="">
                        </div>
                    </div>
                </li>
                <li class="editing" v-for="item in filterTodolist" 
                v-if="item.id == editObject.id"
                :class="{'done':item.completed,'fav':item.favorite}"
                >
                    <div class="list_header">
                            <label :for="item.id" class="complet_check">
                                    <!-- <input type="checkbox" name="" :id="item.id" v-model="item.completed"> -->
                                </label>
                                <div class="memo">
                                    <input type="text" v-model="editTitle" class="input_new">
                                </div>
                                <div class="tools">
                                        <div class="fav">
                                            <label :for="item.id + 'fav'">
                                                <input type="checkbox" name="" :id="item.id + 'fav'" v-model="item.favorite" hidden>
                                                <img src="images/fav.png" alt="" v-if="item.favorite == false">
                                                <img src="images/fav_checked.png" alt="" v-if="item.favorite == true">
                                            </label>
                                        </div>
                                        <div class="edit" @click="editTodo(item)">
                                            <img src="images/edit.png" alt="">
                                        </div>
                                </div>
                    </div>
                    <div class="list_settings">
                        <div class="input_group">
                                <h4 class="">Deadline</h4>
                                <input type="date">
                        </div>
                        <div class="input_group">
                                <h4 class="">Files</h4>
                                <label for="file_up" class="files">
                                    +
                                    <input type="file" id="file_up" hidden>
                                </label>
                                
                        </div>
                        <div class="input_group input_area">
                            <h4 class="">Comments</h4>
                            <textarea name="" id="" cols="30" rows="10" placeholder="text some comments"></textarea>
                        </div>
                        
                    </div>
                    <div class="list_footer">
                        <button class="cancel" @click="cencelTodo">x Cancel</button>
                        <button class="save" @click="saveTodo(item)">Save task</button>
                    </div>
                                
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        {

            let time = new Date();
            let year = time.getFullYear();
            let month = time.getMonth()+1;
            let date = time.getDate();
            let day = ['Sun','Mon']
            document.querySelector('.today').textContent = year+'/'+month+'/'+date;
        }
        var app = new Vue({
            el: '#app',
            data: {
                todolist: [{
                    id: '1234',
                    title: 'Using Vue.js',
                    completed: false,
                    favorite: false,
                },
                ],
                newtask: '',
                visiblity: 'all',
                editObject :{},
                editTitle:'',
            }, methods: {
                // 新增
                addTodo: function () {
                    let newValue = this.newtask.trim();
                    let todoId = Math.floor(Date.now());
                    if (!newValue) {
                        return;
                    }
                    this.todolist.push({
                        id: todoId,
                        title: newValue,
                        completed: false,
                        favorite: false,
                    })
                    this.newtask = '';
                },editTodo: function(item){
                    this.editObject = item;
                    this.editTitle = item.title;
                },cencelTodo: function(){
                    this.editObject = {}
                },saveTodo: function(item){
                    if(!this.editTitle.trim()){
                        return;
                    }
                    item.title = this.editTitle;
                    this.editTitle = '';
                    this.editObject = {};
                },
            },computed: {
                filterTodolist : function(){
                    
                    if(this.visiblity == 'all'){
                        return this.todolist;
                    }else if(this.visiblity == 'progress'){
                        let filterList = [];
                        this.todolist.forEach(function(item){
                            if(!item.completed){
                                filterList.push(item);
                            }
                        })
                        return filterList;
                    }else if(this.visiblity == 'completed'){
                        let filterList = [];
                        this.todolist.forEach(function(item){
                            if(item.completed){
                                filterList.push(item);
                            }
                        })
                        return filterList;
                    }                       
                    
                    
                },unDone: function(){
                    var unDoneList = [];
                    this.todolist.forEach(function(item){
                        if(!item.completed){
                        unDoneList.push(item);
                    }
                    })
                    
                    return unDoneList.length;
                },
            }
        })


    </script>
</body>

</html>