body {
  font-weight: 100;
  font-family: Roboto,Helvetica,Arial,sans-serif; }

h1, h2, h3, h4, h5, p {
  font-weight: 300; }

.header-dash {
  width: 100%;
  height: 3px;
  background-color: #0275D8; }

.container {
  max-width: 456px; }

.form-progress {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 234px;
  padding: 20px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px auto 40px; }
  .form-progress li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative; }
    .form-progress li:first-child:after {
      display: none; }
    .form-progress li span {
      width: 16px;
      height: 16px;
      display: block;
      border-radius: 50%;
      border: 2px solid #bee1ff;
      position: relative;
      background: #fff;
      margin: auto;
      position: relative; }
    .form-progress li:after {
      content: '';
      height: 2px;
      width: calc(100% - 8px);
      background-color: #bee1ff;
      position: absolute;
      top: 50%;
      right: 50%;
      z-index: -1; }
    .form-progress li.now span {
      border: 2px solid #0275D8; }
      .form-progress li.now span:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #0275D8;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .form-progress li.now:after {
      background-color: #0275D8; }

.form .input-title {
  display: block;
  width: 100%;
  margin: 24px 0 8px; }

.form label {
  width: 100%;
  display: block;
  position: relative; }
  .form label.error:after {
    content: "\F071";
    font-family: Font Awesome\ 5 Free;
    font-size: 1.25rem;
    font-weight: 900;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 20px;
    color: #F5A623;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .form label.error input {
    border-color: #F5A623; }
  .form label.error .error-tip {
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    background-color: #F5A623;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
    .form label.error .error-tip:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -14px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      border-width: 6px 8px;
      border-style: solid;
      border-color: transparent #f5a623 transparent transparent; }

.form input {
  width: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  line-height: 150%;
  padding: 10px 20px;
  height: 52px;
  outline: 0; }

.form .error-tip {
  display: none;
  font-size: 14px; }

button {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 2rem 1rem 1rem;
  background-color: #0275D8;
  color: #fff;
  border-radius: 8px;
  padding: .8rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: 0;
  border: 0; }
  button:disabled {
    background-color: #bee1ff; }
