@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  list-style: none; }

body {
  background-color: #F8F8F8; }

.gadient, header, .todo_list li .complet_check input[type="checkbox"]:checked {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a1f7), to(#68A3C9));
  background-image: -webkit-linear-gradient(left, #a3a1f7, #68A3C9);
  background-image: -o-linear-gradient(left, #a3a1f7, #68A3C9);
  background-image: linear-gradient(to right, #a3a1f7, #68A3C9); }

.container {
  max-width: 940px;
  margin: auto; }

.text-center {
  text-align: center; }

.big {
  font-size: 1.5rem; }

.mb-3 {
  margin-bottom: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

header {
  color: #fff; }
  header .head_title {
    position: relative;
    padding: 2rem 0; }
  header .sib_title {
    position: absolute;
    right: 0;
    top: 2rem;
    font-size: .8rem;
    text-align: right;
    line-height: 200%; }
  header nav ul {
    font-size: 0; }
  header nav li {
    padding: 1rem;
    display: inline-block;
    width: calc(100% / 3);
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s; }
    header nav li.active, header nav li:hover {
      background: transparent;
      -webkit-transition: .1s;
      -o-transition: .1s;
      transition: .1s; }

.todo_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .todo_list li {
    padding: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
    box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
    border-radius: 10px;
    color: #4A4A4A;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    .todo_list li:hover {
      -webkit-box-shadow: 5px 10px 20px rgba(184, 184, 184, 0.5);
      box-shadow: 5px 10px 20px rgba(184, 184, 184, 0.5);
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
    .todo_list li.fav {
      border: 1px solid #AA9AFF;
      -webkit-box-ordinal-group: 1 !important;
      -webkit-order: 0 !important;
      -ms-flex-order: 0 !important;
      order: 0 !important; }
    .todo_list li.done {
      background: #f2f2f2;
      -webkit-box-ordinal-group: 101;
      -webkit-order: 100;
      -ms-flex-order: 100;
      order: 100; }
      .todo_list li.done h4 {
        text-decoration: line-through; }
      .todo_list li.done:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5);
        box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.5); }
    .todo_list li > * {
      display: inline-block;
      vertical-align: middle;
      padding: 0 1rem; }
    .todo_list li p {
      color: #aaa;
      font-size: 0.8em; }
    .todo_list li .complet_check {
      position: relative;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%; }
      .todo_list li .complet_check input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 50%;
        outline: none; }
        .todo_list li .complet_check input[type="checkbox"]:checked {
          border-color: transparent;
          background-size: cover; }
          .todo_list li .complet_check input[type="checkbox"]:checked:before {
            content: '✓';
            color: #fff;
            position: absolute;
            left: 22px; }
    .todo_list li .memo {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
      flex: 0 0 70%; }
    .todo_list li .tools {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      text-align: right; }
      .todo_list li .tools > div {
        width: 20px;
        display: inline-block;
        margin: 5px; }
        .todo_list li .tools > div img {
          width: 100%;
          display: block; }

.input-task {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .5rem 1rem;
  font-size: 1rem;
  outline: 0; }
  .input-task::-webkit-input-placeholder {
    color: #a3a1f7; }
  .input-task:-ms-input-placeholder {
    color: #a3a1f7; }
  .input-task::placeholder {
    color: #a3a1f7; }
