@import "_mixin.scss";

// colors

$maincolor: #50ff44;
$darkcolor: #000;
$lightcolor: #fff;

// all settings
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  @include mq(tablet) {
    flex-direction: row;
  }
}
.col-6 {
  flex: 0 0 100%;
  max-width: 100%;

  @include mq(tablet) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.text-center {
  text-align: center;
}

// header
#header {
  background-color: $darkcolor;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  h2 {
    color: $maincolor;
    font-size: 36px;
    font-family: roboto bold;
    font-style: italic;
  }
}

// comic
.container {
  max-width: 620px;
  margin: auto;
  padding: 0 1rem;
}

.comic_cover {
  border: 4px solid $darkcolor;
}
.comic_info {
  .title {
    padding: 0 1rem;
    background-color: $darkcolor;
    color: $lightcolor;
    h1 {
      font-size: 36px;
    }
  }
  .lists {
    padding: 1rem;
    .list {
      margin-bottom: 1%;
      & > div {
        display: inline-block;
        &:first-child {
          font-weight: bold;
          min-width: 30%;
        }
      }
    }
  }
  .introduce {
    h4 {
      margin-bottom: 10px;
    }
    padding: 0 1rem;
  }
}
.comic_chapter {
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  .title {
    background: $darkcolor;
    color: $lightcolor;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .lists {
    padding: 22px 0;
    border: 4px solid $darkcolor;
    a {
      color: $darkcolor;
      text-decoration: none;
      display: block;
    }
    .list {
      padding: 0 22px;
      line-height: 200%;
      transition: 0.2s;
      &:hover {
        background: $darkcolor;
        transition: 0.2s;
        a {
          color: $maincolor;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
